body {
	background-color: white;
	color: black;
	font: 12pt/16pt normal Ubuntu, sans-serif;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

#wrapper {
	width: 700px;
	margin: 10px auto;
}

h1 {
	font-size: 20pt;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
}

h2 {
	font-size: 16pt;
	font-weight: normal;
}

.artist {
	font-size: 10pt;
	margin: .5em 0;
	color: gray;
}

#album-view .cover {
	width: 200px;
	height: 200px;
	float: left;
	border: solid 1px #ccc;
	padding: 1px;
}

#album-view .info {
	margin-left: 220px;
	min-height: 220px;
}

.dlcount {
	font-size: 10pt;
	color: gray;
}


form label {
	display: block;
	color: gray;
}
input, textarea {
	width: 500px;
	margin: .5em 0;
	padding: 2px 4px;
}

form .control {
	margin: .5em 0;
}

form textarea {
	height: 50px;
}

form .check input {
	width: auto;
}
form .check span {
	color: black;
	margin-left: .5em;
}
