<html>
	<head>
		<title>{% block title %}GAE Directory{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ base }}/static/gaedir.css?1"/>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			{% block body %}<p>Your template doesn't seem to have the <code>body</code> block.</p>{% endblock %}
			<div id="nav">
				<h2>Menu</h2>
				<ul>
					<li><a id="home" href="{{ path_prefix }}/"><span>Home</span></a></li>
					{% if user %}
						{% if is_admin %}
							{% block admin_links %}<li><a href="{{ path_prefix }}/submit">Submit entry</a></li>{% endblock %}
							<li><a href="{{ admin_url|escape }}">Admin</a></li>
						{% endif %}
						<li><a href="{{ log_out_url|escape }}">Log out</a></li>
					{% else %}
						<li><a href="{{ log_in_url|escape }}">Editor log in</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</body>
</html>
