{% extends "base.html" %}
{% block body %}
<div class="content">
	<h1>Categories</h1>
	<ul id="toc">
	{% for cat in toc %}<li>
		{{ cat.name|catlink }}
		{% if cat.children %}
			<p class="children">
			{% for child in cat.children %}{{ child.name|shortcatlink }}{% if forloop.last %}...{% else %}, {% endif %}{% endfor %}
			</p>
		{% endif %}
	</li>{% endfor %}
	</ul>
</div>

<div id="nav">
	<h2>Menu</h2>
	<ul>
		{% if user %}
			{% if is_admin %}
				<li><a href="{{ path_prefix }}/submit">Submit entry</a></li>
				<li><a href="{{ admin_url|escape }}">Admin</a></li>
			{% endif %}
			<li><a href="{{ log_out_url|escape }}">Log out</a></li>
		{% else %}
			<li><a href="{{ log_in_url|escape }}">Editor log in</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}
