{% extends "base.html" %}

{% block title %}{{ item.name|escape }}{% endblock %}

{% block body %}
<h1>{{ item.name|escape }}</h1>

<div id="iteminfo">
	{% if item.picture %}
		<img src="{{ item.picture|escape }}" alt="picture"/>
	{% endif %}
	{% if item.description %}
		<div id="description">{{ item.description|escape }}</div>
	{% endif %}
</div>

{% if item.categories %}
<h2>Categories</h2>
<ul>{% for cat in item.get_categories %}
<li>{{ cat|catlink }}</li>
{% endfor %}</ul>
{% endif %}

{% if item.links %}
<h2>Links</h2>
<ul>{% for link in item.links %}
	<li><a href="{{ link|escape }}">{{ link|escape }}</a></li>
{% endfor %}</ul>
{% endif %}

<div id="nav">
	<h2>Menu</h2>
	<ul>
		<a href="{{ path_prefix }}/v/{{ item.name|escape }}?edit">Edit this item</a>
	</ul>
</div>

{% endblock %}
