{% extends "base.html" %}

{% block title %}{{ cat.name|escape }}{% endblock %}

{% block body %}
<div class="content">
	<h1>{% for part in cat.get_path %}{% if forloop.last %}{{ part.0 }}{% else %}<a href="{{ path_prefix }}/{{ part.1 }}">{{ part.0 }}</a>: {% endif %}{% endfor %}</h1>

	{% if items %}
		<h2>Items in this category</h2>
		<ul id="items">
			{% for item in items %}
				<li><a href="{{ path_prefix }}/v/{{ item.name|uurlencode }}">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

<div id="meta">
	{% if children %}
		<h2>Subcategories</h2>
		<ul id="see_also">
		{% for child in children %}
			<li{% if child.promote %} class="promote"{% endif %}><a href="{{ path_prefix }}/{{ child.name }}">{{ child.get_name }}</a> ({{ child.get_item_count }})</li>
		{% endfor %}
		</ul>
	{% endif %}
</div>

<div id="nav">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ path_prefix }}/">Index</a></li>
		{% if user %}
			{% if is_admin %}
				<li><a href="{{ path_prefix }}/edit/category?key={{ cat.key|escape }}">Edit category</a></li>
				<li><a href="{{ path_prefix }}/submit?cat={{ cat.name|escape }}">Submit entry</a></li>
				<li><a href="{{ admin_url|escape }}">Admin</a></li>
			{% endif %}
			<li><a href="{{ log_out_url|escape }}">Log out</a></li>
		{% else %}
			<li><a href="{{ log_in_url|escape }}">Editor log in</a></li>
		{% endif %}
	</ul>
</div>

{% endblock %}
