{% extends "base.html" %}

{% block title %}{{ item.name|escape }}{% endblock %}

{% block body %}
<div id="iteminfo" class="content">
	<h1>{{ item.name|escape }}</h1>
	{% if item.picture %}
		<img src="{{ item.picture|escape }}" alt="picture"/>
	{% endif %}
	{% if item.description %}
		<div id="description">{{ item.description|safe_html }}</div>
	{% endif %}

	{% if item_links %}
	<div id="itemlinks">
		<h2>Links</h2>
		<ul>{% for link in item_links %}
			<li><a href="{{ link.href|escape }}">{{ link.name|escape }}</a></li>
		{% endfor %}</ul>
	</div>
	{% endif %}

	{% if item.categories %}
	<div id="itemcat">
		<h2>Categories</h2>
		<p>This entry is in the following categories:</p>
		<ul>{% for cat in item.get_categories %}
		<li>{{ cat|simplecatlink }}</li>
		{% endfor %}</ul>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block admin_links %}
	<li><a href="{{ path_prefix }}/edit/entry?key={{ item.key|escape }}">Edit this entry</a></li>
{% endblock %}
