body {
	margin: 0;
	padding: 10px 0;
	font: normal 10pt/12pt arial, sans-serif;
}

a {
	color: #008;
}

img {
	border: none;
}

/**
 * По умолчанию всё, что предназначено исключительно для авторизованных
 * или анонимных пользователей, скрыто.  Соответствующие классы удаляются
 * после загрузки страницы скриптом, который запрашивает статус пользователя
 * отдельным, дешёвым запросом.  За счёт этого можно жёстко кэшировать
 * страницы.
 */
body.auth .anon, body.anon .auth {
	display: none !important;
}
