body {
	margin: 0;
	padding: 10px 0;
	font: normal 10pt/12pt sans-serif;
}

a {
	color: #008;
}

img {
	border: none;
}

.hidden {
	display: none;
}


h1 {
	font: 22px/22px Ubuntu, sans-serif;
}


h3 small {
	margin-left: 1em;
}
h3 small a {
	color: green;
}

p.less {
	color: gray;
}
