#header {
	margin-bottom: 20px;
	position: relative;
	height: 28px;
}

#header h1, #header h1 a {
	display: block;
	position: absolute;
	width: 76px;
	height: 28px;
	margin: 0;
	padding: 0;
}
#header h1 a {
	background: transparent url(/static/logo.76x28.png) no-repeat top left;
}
#header h1 span {
	display: none;
}

h2, h3 {
	font-weight: normal;
}
