form div {
	margin: .5em 0;
}
form div label {
	display: block;
	font-style: italic;
}
form .text {
	width: 600px;
	background: white url(data:image/gif;base64,R0lGODlhAQAFAKIAAPHx8e7u7vv7+/b29v///wAAAAAAAAAAACH5BAAAAAAALAAAAAABAAUAAAMEGDBCCQA7) repeat-x scroll center top;
	border: 1px solid #BBB;
	padding: 4px 6px;
}
form .r {
	text-align: right;
}

.button {
	background: #e3e3e3 url(/static/themes/default/button-back.png) repeat-x 50% 50%;
	border: 1px solid #aaa;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	padding: 4px 10px;
	text-decoration: none;
	color: black;
	margin-right: 4px;
}

.fakelink {
	color: #008;
	text-decoration: underline;
	cursor: pointer;
}
