#header .menu {
	position: absolute;
	top: 6px;
	left: 90px;
	font: 14px;
}
#header li.wsub:hover > a, #header li.active > a {
	z-index: 5001;
	position: relative; /* для того, чтобы работал z-index */
}
#header .submenu {
	display: none;
}
#header ul, #header li {
	display: inline-block;
	padding: 0;
	margin: 0;
	color: gray;
}
#header li {
	margin-left: 1em;
	position: relative;
	border: solid 1px white;
}
#header li a {
	padding: 2px 4px;
}
#header li:hover .submenu, #header li.active .submenuX {
	display: block;
	position: absolute;
	z-index: 4000;
	background-color: white;
	padding: 24px 10px 4px;
	margin: -24px 0 0 -11px;
	border: solid 1px #888;
	white-space: nowrap;
}
#header .submenu li {
	display: block;
	margin: .5em 0;
}
