#header .search {
	position: absolute;
	top: 0;
	left: 534px;
	white-space: nowrap;
}
#header .text {
	width: 200px;
	border: solid 1px #ccc;
	padding: 4px 20px 4px 4px;
	font-family: sans-serif;
	font-size: 12px;
}
#header .search button {
	background: transparent url(/static/search.png) no-repeat center center;
	border: none;
	cursor: pointer;
	padding: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-top: -1px;
	margin-left: -24px;
}
#header .search button span {
	display: none;
}
