/**
 * Оформление листалки страниц. Блок .pager выводится обычно в конце страницы,
 * в конце блока #albumlist или аналогичного. Содержит два элемента <span>:
 * один с общей информацией о странице, другой — со списком доступных страниц.
 */

.pager span {
	margin-right: 1em;
}

/**
 * Попасть по ссылке из одного символа может быть непросто, увеличиваем площадь.
 */
.pages a {
	padding: 0 2px;
}
.pages a.active {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
