/**
 * Оформление списка альбомов на главной странице.
 */

#albumlist {
	background-color: white;
	width: 536px;
	padding: 0;
}
#albumlist .tile {
	margin: 2px;
	width: 130px;
	height: 130px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#albumlist .tile img {
	border: solid gray 1px;
	width: 128px;
	height: 128px;
	margin: 0;
	padding: 0;
}

#labels {
	background-color: gray;
	width: 190px;
	position: absolute;
	top: 0;
	left: 550px;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
}
#labels h2 {
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em 0;
}
#labels ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#labels li {
	display: inline-block;
	margin: .25em 0;
}
#labels li a {
	white-space: nowrap;
	color: white;
	text-decoration: none;
	padding: 0 .25em;
}
#labels li a:hover {
	background-color: #666;
	border-radius: 4px;
}
