/**
 * Оформление списка альбомов на главной странице.
 */

#albumlist .tile {
	margin: 0 0 10px 45px;
	width: 152px;
	height: 200px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

/**
 * У всех элементов группы есть левый отступ, только первому элементу
 * отступ не нужен, он должен быть выровнен по левому краю страницы.
 */
#albumlist .tile:first-child {
	margin-left: 0;
}

#albumlist .tile img {
	border: solid 1px black;
	width: 150px;
	height: 150px;
}

#albumlist .title, #albumlist .artist {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: 80%;
	display: block;
}

/**
 * Название исполнителя бледное, чтобы не отвлекать внимание
 * от названия альбома, которое более важно.
 */
#albumlist .artist {
	opacity: 0.5;
}
#albumlist .pager span {
	margin-right: 1em;
}

/**
 * Попасть по ссылке из одного символа может быть непросто, увеличиваем площадь.
 */
#albumlist .pages a {
	padding: 0 2px;
}
#albumlist .pages a.active {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
