#album .block {
	position: relative;
}

#album .header {
	background-color: #dcdcdc;
	padding: 4px 8px;
	margin-bottom: 10px;
}
#album h2 {
	margin: 0;
}
#album .info {
	margin: .35em 0 0;
}

#tracklist {
	width: 530px;
	float: left;
	padding-bottom: 20px;
}
#tracklist table, #tracklist td.l {
	width: 100%;
}
#tracklist td {
	padding: 2px 4px;
}
#tracklist .n {
	text-align: right;
}
#tracklist .dur {
	opacity: 0.5;
}

#tracklist .dl {
	opacity: 0.2;
}
#tracklist tr:hover .dl {
	opacity: 1;
}
#tracklist .dl a {
	color: green;
	padding-left: 0;
}


#attachments {
	clear: left;
}
#attachments table {
	border: solid 1px #dcdcdc;
}
#attachments .size {
	text-align: right;
}


#editTracks td:nth-child(1) .text,
#editTracks td:nth-child(5) .text {
	width: 50px;
	text-align: right;
}
#editTracks td:nth-child(2) .text,
#editTracks td:nth-child(3) .text,
#editTracks td:nth-child(4) .text {
	width: 150px;
}

#editFiles td:nth-child(1) .text {
	width: 50px;
	text-align: right;
}
#editFiles td:nth-child(2) .text,
#editFiles td:nth-child(3) .text {
	width: 200px;
}
