/**
 * Оформление списка альбомов на главной странице.
 */

#albumlist .tile {
	margin: 2px;
	width: 130px;
	height: 130px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#albumlist .tile img {
	border: solid gray 1px;
	width: 128px;
	height: 128px;
	margin: 0;
	padding: 0;
}
