#albumMeta {
	margin-bottom: 1em;
}
#albumMeta img {
	width: 150px;
	height: 150px;
	float: left;
}
#albumMeta div {
	margin-left: 160px;
	height: 150px;
}
#albumMeta div p {
	margin: .5em 0;
}
#albumMeta .date {
	color: #555;
}
#albumMeta .title {
	font-size: 1.5em;
}
#albumMeta .artist {
	font-size: 1.25em;
}
#albumMeta .download {
	margin-top: .75em;
}


#tracklist {
	width: 530px;
	float: left;
	padding-bottom: 20px;
}
#tracklist table {
	border-collapse: collapse;
}
#tracklist caption {
	font-size: 1.25em;
	line-height: 1.25em;
	text-align: left;
}
#tracklist table, #tracklist td.l {
	width: 100%;
}
#tracklist td {
	padding: 2px 4px;
}
#tracklist .n {
	text-align: right;
}
#tracklist .dur {
	opacity: 0.5;
}
#tracklist .dl {
	opacity: 0.2;
}
#tracklist tr:hover .dl {
	opacity: 1;
}
#tracklist .dl a {
	color: green;
	padding-left: 0;
}
#tracklist .artist {
	white-space: nowrap;
}
#tracklist tr:nth-child(even) {
	background-color: #eee;
}


#attachments {
	clear: left;
}
#attachments table {
	border: solid 1px #dcdcdc;
}
#attachments .size {
	text-align: right;
}


#editFiles caption {
	font-size: 1.5em;
	line-height: 1.5em;
}
#editFiles td:nth-child(1) .text {
	width: 50px;
	text-align: right;
}
#editFiles td:nth-child(2) .text,
#editFiles td:nth-child(3) .text,
#editFiles td:nth-child(4) .text,
#editFiles td:nth-child(5) .text,
#editFiles td:nth-child(6) .text {
	width: 100px;
}
