#artist .albums ul {
	margin: 0;
	padding: 0;
	line-height: 0;
}
#artist .albums li {
	margin: 0 20px 0 0;
	padding: 2px;
	display: block;
	background-color: #dcdcdc;
	border: solid 1px gray;
	height: 50px;
	width: 200px;
	overflow: hidden;
	float: left;
}
#artist .albums li .text {
	display: block;
	margin-left: 54px;
	line-height: 1.25em;
}
#artist .albums li a.img {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
}
#artist .albums li img {
	width: 50px;
	height: 50px;
	border: 0;
}

#artists ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
#artists li {
	display: inline-block;
	margin: 0 .5em;
	font-size: 9pt;
}
#artists li.w2 {
	font-size: 11pt;
}
#artists li.w3 {
	font-size: 13pt;
}
#artists li.w4 {
	font-size: 15pt;
}
#artists li a {
	white-space: nowrap;
}


#artists .column {
	width: 230px;
	float: left;
	margin-right: 20px;
}
#artists table {
	width: 100%;
	margin: 0 0 30px;
	border-collapse: collapse;
}
#artists caption {
	text-align: left;
	font-weight: bold;
	font-size: 1.5em;
}
#artists td {
	padding: 2px;
}
#artists .name {
	width: 100%;
}
#artists .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: top left;
}
#artists .icon span {
	display: none;
}
#artists .homepage {
	background-image: url(/static/homepage.png);
}
#artists .lastfm {
	background-image: url(/static/last.fm.png);
}
#artists .twitter {
	background-image: url(/static/twitter.png);
}
#artists .vk {
	background-image: url(/static/vkontakte.png);
}
