body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #333;
	font: normal 10pt/15pt Ubuntu, sans-serif;
}

a {
	color: #008;
}

input[type=text], textarea {
	width: 500px;
	display: block;
	margin-bottom: .5em;
	padding: 2px 4px;
}
textarea {
	height: 100px;
}
textarea[name=description] {
	height: 200px;
}
textarea[name=links], textarea[name=categories] {
	white-space: nowrap;
}

h1 {
	font-weight: normal;
	font-size: 20pt;
}

h2 {
	font-weight: normal;
	font-size: 16pt;
}

form th {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
form .hint {
	font-style: italic;
	font-size: 80%;
	margin: 0 0 .5em;
}

li.promote {
	font-weight: bold;
}


#wrapper {
	position: relative;
	max-width: 800px;
	margin: 10px auto;
}

.content {
	top: 50px;
	position: absolute;
}

#iteminfo {
	margin-right: 300px;
}
#iteminfo img {
	float: left;
	margin: 0 .5em .25em 0;
	border: solid 1px #ccc;
	padding: 1px;
}

#meta {
	position: absolute;
	top: 50px;
	left: 100%;
	margin-left: -200px;
	width: 200px;
}
#meta h2 {
	margin: 0 0 .25em;
}
#meta ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#meta > div {
	margin-bottom: 1em;
}

#nav {
	position: absolute;
	top: 0;
	height: 28px;
	border: solid #ccc 4px;
	text-align: right;
	width: 100%;
	font-size: 12px;
	line-height: 28px;
	text-transform: lowercase;
	background: #ccc url(/fmh-static/logo.76x28.png) no-repeat top left;
}
#nav h2 {
	display: none;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 2px 6px;
}
#nav li {
	display: inline;
	margin-left: 1em;
}

#iteminfo {
	top: 50px;
}


#toc ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#toc li {
	display: inline-block;
	width: 250px;
	height: 100px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: top;
}
#toc li p {
	margin: .25em 0;
	font-weight: normal;
	font-size: 10pt;
}
