body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #333;
	font: normal 10pt/15pt Ubuntu, sans-serif;
}

a {
	color: rgb(6, 69, 173); /* thanks wikipedia */
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input[type=text], textarea {
	width: 500px;
	display: block;
	margin-bottom: .5em;
	padding: 2px 4px;
}
textarea {
	height: 100px;
}
textarea[name=description] {
	height: 200px;
}
textarea[name=links], textarea[name=categories] {
	white-space: nowrap;
}

h1 {
	font-weight: normal;
	font-size: 20pt;
}

h2 {
	font-weight: normal;
	font-size: 16pt;
}

form th {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
form .hint {
	font-style: italic;
	font-size: 80%;
	margin: 0 0 .5em;
}

li.promote a {
	font-weight: bold;
}


#wrapper {
	position: relative;
	max-width: 800px;
	margin: 10px auto;
}

.content {
	top: 50px;
	position: absolute;
}

#iteminfo {
	margin-right: 300px;
	top: 50px;
	width: 100%;
}
#iteminfo img {
	/*
	float: left;
	margin: 0 .5em .25em 0;
	*/
	float: right;
	margin: 0 0 .25em .5em;
	border: solid 1px #ccc;
	padding: 1px;
}
#iteminfo ul {
	margin: 0;
	padding: 0 0 0 2em;
	list-style-type: square;
}
#iteminfo h2 {
	margin-top: 1em;
	line-height: 1.25em;
	border-bottom: solid 1px #ccc;
}

#nav {
	position: absolute;
	top: 0;
	height: 28px;
	border: solid #ccc 4px;
	text-align: right;
	width: 100%;
	font-size: 12px;
	line-height: 28px;
	text-transform: lowercase;
	background: #ccc no-repeat top left;
}
#nav h2 {
	display: none;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 2px 6px;
}
#nav li {
	display: inline;
	margin-left: 1em;
}
#nav #home {
	display: block;
	width: 76px;
	height: 28px;
	position: absolute;
	background: transparent url(/fmh-static/logo.76x28.png) no-repeat top left;
	top: 0;
	left: 0;
}
#nav #home span {
	display: none;
}


#toc ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#toc li {
	display: inline-block;
	width: 250px;
	height: 100px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: top;
}
#toc li p {
	margin: .25em 0;
	font-weight: normal;
	font-size: 10pt;
}
