{% extends "../base.html" %}
{% block pageid %}album-view{% endblock %}
{% block title %}{{ album.name|escape }}{% endblock %}
{% block body %}
<h2>Описание альбома</h2>
<dl id="album">
	<dt>Название альбома:</dt>
	<dd id="album_title">{{ album.name|escape }}</dd>
	<dt>Исполнитель:</dt>
	<dd id="album_artist">{{ album.artists.0|escape }}</dd>
	<dt>Год выпуска:</dt>
	<dd id="release_date">{{ album.release_date|date:"Y" }}</dd>
	<dt>Сайт автора:</dt>
	<dd id="homepage">{{ album.homepage|escape }}</dd>
	{% if album.cover_small %}<dt>Обложка</dt>
	<dd id="cover">{{ album.cover_small|escape }}</dd>
	{% endif %}<dt>Положительных отзывов:</dt>
	<dd id="positive_reviews">{{ album.positive_reviews }}</dd>
	<dt>Идентификатор альбома:</dt>
	<dd id="album_id">{{ album.id }}</dd>
</dl>

{% if reviews %}
<h2>Рецензии</h2>
<ul id="reviews">
{% for review in reviews %}
<li author="{{ review.author.email|escape }}" avatar="{{ review.avatar }}" date="{{ review.date_added|date:"d.m.y" }}"{% if review.likes %} likes="likes"{% endif %}>{{ review.comment|escape }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
