{% extends "../base.html" %}
{% block pageid %}album-view{% endblock %}
{% block title %}{{ title|escape }}{% endblock %}
{% block body %}
<h1 class="title">{{ title|escape }}</h1>
<p class="artist">An album by <span class="value">{{ artist_name|escape }}</span></p>
<p class="homepage">Home page: <a href="{{ homepage }}" class="value">{{ homepage|escape }}</a></p>
{% if download_link %}
	<p class="download_link">Download link: <a href="{{ download_link|escape }}" class="value">{{ download_link|escape }}</a></p>
{% endif %}
{% endblock %}
