{% extends "../base.html" %}
{% block pageid %}album-view{% endblock %}
{% block title %}{{ title|escape }}{% endblock %}
{% block body %}
<span id="id" value="{{ album_id }}"/>
<h1 class="title">{{ title|escape }}</h1>
<p class="artist">An album by <span class="value">{{ artist_name|escape }}</span></p>
<p class="homepage">Home page: <a href="{{ homepage }}" class="value">{{ homepage|escape }}</a></p>
{% if download_link %}
	<p class="download_link">Download link: <a href="{{ download_link|escape }}" class="value">{{ download_link|escape }}</a></p>
	{% if download_count %}
		<p class="download_count">{{ download_count }}</p>
	{% endif %}
{% endif %}

{% if reviews %}
<h2>Рецензии</h2>
<ul id="reviews">
{% for review in reviews %}
<li author="{{ review.author|escape }}" avatar="{{ review.avatar }}" date="{{ review.date_added|date:"d.m.y" }}"{% if review.likes %} likes="likes"{% endif %}>{{ review.comment|escape }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
