#artist .list td {
  vertical-align: baseline;
  padding: 2px 6px 2px 0;
}
#artist .list td:last-child {
  opacity: 0.75;
  padding-left: 4px;
}
#artist .list .username {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#artist .tile1 {
  margin: 0 10px 10px 0;
}

.tile1, .tile2 {
  position: relative;
  overflow: hidden;
  width: 152px;
  height: 152px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.tile1, .tile2 img {
  border: solid 1px black;
  width: 150px;
  height: 150px;
}
.tile1 .title, .tile1 .artist {
  position: absolute;
  display: inline;
  white-space: nowrap;
  text-decoration: none;
  font: normal 10px/10px sans-serif;
  background-color: black;
  color: white;
  left: 0;
}
.tile1 .title {
  top: 0;
}
.tile1 .artist {
  top: 1em;
}
.tile1 .smallstars, .tile2 .smallstars {
  position: absolute;
  top: 138px;
  left: 98px;
}

.tile2 {
  height: 200px;
}
.tile2 .title, .tile2 .artist {
  white-space: nowrap;
  display: block;
  text-align: center;
}
.tile2 .title {
  margin-top: 4px;
  font-size: 12px;
}
.tile2 .artist {
  font-size: 10px;
  opacity: 0.5;
}
