body {
  margin: 0;
  padding: 0;
  font: normal 10pt/12pt arial, sans-serif;
}

.r {
  text-align: right;
}
.hidden {
  display: none;
}
li {
  margin-bottom: .5em;
}


form.gen label,
form.gen label span {
  display: block;
}
form.gen .text {
  padding: 4px;
  width: 400px;
  max-width: 400px;
  border: solid 1px #ccc;
}
form.gen .hint {
  width: 400px;
  color: gray;
  font-size: 0.8em;
  margin: 0 0 .5em;
}
form.gen div {
  margin-bottom: 1em;
}

/**
 * Редактирование альбома.
 */
form.eal fieldset {
  margin: 1em 0 0 -40px;
  padding: 10px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
form.eal legend {
  font-size: 10pt;
  font-style: italic;
  margin-left: 30px;
}
form.eal ol {
  margin: 0;
  padding: 0;
}
form.eal ol li {
  margin-left: 30px;
}


#wrapper {
  width: 760px;
  margin: 0 auto;
}

#header {
  margin: 10px 0 20px;
}
#header h1 {
  display: inline;
  margin-right: 1em;
}
#header h1 a {
  text-decoration: none;
  font-weight: normal;
  font-size: 18pt;
}
#header .text {
  width: 300px;
  border: solid 1px #ccc;
  padding: 4px;
  margin-right: 10px;
}

.twocol .left {
  width: 150px;
  float: left;
}
.twocol .right, .onecol {
  margin-left: 170px;
}

.left ul {
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}
.left ul li {
  line-height: 1.5em;
}

/* upload your album */
.uya {
  color: gray;
  font-size: 9pt;
  margin-top: 3em;
}
.uya p {
  margin: .25em 0;
}

h2 {
  font-size: 16pt;
  font-weight: normal;
}
h2 small {
  font-weight: normal;
  font-size: 12pt;
}

#album .left {
  float: left;
}
#album .left img {
  border: solid 1px #ccc;
  padding: 2px;
}
#album .left .dl {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ccc;
  color: gray;
}

#album .right {
  margin-left: 220px;
}
#album td {
  padding: 2px 4px;
  vertical-align: top;
}

/**
 * Заголовок альбома.
 */
.alh {
  background-color: cyan;
  padding: 2px 4px;
  margin-bottom: 10px;
  color: #666;
  font-size: 8pt;
}
.alh h2 {
  margin: 0 0 5px;
  color: black;
}
.alh2 {
  margin-left: 20px;
}
.alh2 span {
  margin-right: 1em;
}

.moreimg {
  width: 225px;
}
.moreimg li {
  display: inline-block;
  margin: 10px 15px 10px 0;
}

#footer {
  text-align: center;
  padding: 50px 0 10px;
  color: gray;
}

ul.altiles {
  margin: 0;
  padding: 0;
}
.altiles li {
  display: block;
  width: 150px;
  height: 170px;
  list-style-type: none;
  margin: 0 10px 10px;
  padding: 0;
  text-align: center;
  float: left;
}
/*
.altiles li div a {
  white-space: nowrap;
}
*/
.altiles small {
  white-space: nowrap;
  display: block;
  color: #444;
}
.altiles small a {
  color: inherit;
}
.altiles img {
  border: none;
  margin-bottom: .5em;
}
#index .intro {
  text-align: center;
}
#index .pager {
  clear: left;
  list-style-type: none;
  text-align: center;
  width: 520px;
  margin: 0;
  padding: 0;
}
#index .pager li {
  display: inline;
  margin: 0 2em 0 0;
  padding: 0;
}


#closed {
  width: 500px;
  text-align: center;
  margin: 100px auto 0;
}


#footer {
  clear: both;
}

.fileUpload {
  background-color: #eee;
  padding: 10px;
  margin-top: 1em;
}
.fileUpload div {
  margin-bottom: 10px;
}

.left .labels {
  margin: 1em 0;
}
.labels {
  padding: 0;
}
.labels li {
  display: inline-block;
  font-size: 9pt;
}
.labels a {
  text-decoration: none;
  color: green;
  margin-right: 2px;
}
.labels a:hover {
  text-decoration: underline;
}
.labels sup {
  color: gray;
}

#content .player {
  margin-bottom: 20px;
}
.tracklist, .tracklist .track {
  width: 530px;
}
.tracklist .u u {
  display: inline-block;
  width: 16px;
  height: 17px;
  background: transparent no-repeat top left url(data:image/gif;base64,R0lGODlhEAARAKIEAF99nf///+7u7pqxxgAAAAAAAAAAAAAAACH5BAEAAAQALAAAAAAQABEAAAMnSAPczkO92Ra9OLcQ9OYewIHaSGJml5neGJ5hnFleRGMRIex83xMJADs=);
  vertical-align: bottom;
  cursor: pointer;
}

.tracklist .playing u {
  background: transparent no-repeat top left url(data:image/gif;base64,R0lGODlhEAARAKIEAF99nf///+7u7pqxxgAAAAAAAAAAAAAAACH5BAEAAAQALAAAAAAQABEAAAMtSAPczkO92Ra9OIPAGQ/X53WUuJGTaabk+qjo28YODGo4bumSFhGCoHA4JCQAADs=);
}
.tracklist .dur {
  color: gray;
  padding-left: 10px;
}

/* Ссылки на скачивание дорожек выводятся только при наведении курсора на дорожку. */
.tracklist .dl a {
  color: green;
  text-decoration: none;
  visibility: hidden;
}
.tracklist tr:hover .dl a {
  visibility: visible;
}
.tracklist .playing td.track > div {
  background-color: #ccc;
}
.tracklist .playing .prg {
  margin-top: 2px;
  background-color: red;
  height: 4px;
}

.star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent no-repeat top left url(data:image/gif;base64,R0lGODlhDwAPALMPAP///8zj++r7/7vb/rHW/tPt/9Lk+qzT/rbY/sHh/8Te/N7q+Nzy/7nY/djn+f///yH5BAEAAA8ALAAAAAAPAA8AAARg8MkZjpo4k0KyNwlQBB42MICAfEF7APDRBsYzIEkewGKeDI1DgUckMg6GTdFIqC0QgyUgQVhgGkOi4OBBCJYdzILAywIGNcoOgCAQvowBRpE4kgzCQgPjQCAcEwsNTRIRADs=);
  cursor: pointer;
  margin-right: 4px;
}
.star.on {
  background-image: url(data:image/gif;base64,R0lGODlhDwAPAMQfAF9h4RYVnZeQJC0u0lRQU42R6P/7Fv74L05NrRkZxi4tW52XXv71D8nAIWxnjnRxr3NuMJKOluXbBe7kCa2x7UFD1vPoB77D8Jqe6n6B5tvTUr62BMrP8lJPh1xbuv///yH5BAEAAB8ALAAAAAAPAA8AAAWD4CeOWQKMaDpESepi3tFlLgpExlK9RT9ohkYi08N8KhWP8nEwMBwIDyJRSTgO2CaDYcBOCAlMgtDYmhmTDSFQ+HAqgbLZIlAMLqiKw7m1EAYuFQsGEhITEwItKBc/EgIEAhINAUYkCBIQAQMBEGonIwAKa21iCgo7IxQDFRQjF1VtHyEAOw==);
}
.smallstars span {
  display: inline-block;
  width: 10px;
  height: 9px;
  margin: 0 !important;
  background-position: top left;
  background-repeat: no-repeat;
}
.smallstars .on {
  background-image: url(data:image/gif;base64,R0lGODdhCgAJAIQAALSCDPzCBNyiFNzChLySLMyiTOzq3MSKDPzOBPy6BOTStMSaPNSybOSqBMSWLMyqXPT2/MSOHPzSBOTaxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAACgAJAAAFNCAkQsVoQhMwnSLTMOZTFIIkzA/qJFIfECuIgRCQ/AymhaSBWJgMh8ggckCKFA+k4aEQhQAAOw==);
}
.smallstars .off {
  background-image: url(data:image/gif;base64,R0lGODdhCgAJAIQAAGxubLS2tJSSlNTa3KSmpOTq7KyurISChHx6fMTGzKSipNza3KyqrOzy9LSytHRydLS6vJyanKSqrKyutISGhNze3PT2/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAACgAJAAAFNKAlWs9oWsmRnCJiUGJjAZJiNIEilQmxNMCFBCIyCAaNQYRhEhQcFcLp8ThQTZKDzEKRiEIAOw==);
}

#ntfctn {
  text-align: center;
  font-weight: bold;
  height: 12pt;
}
#ntfctn p {
  display: inline-block;
  background-color: #80ff80;
  padding: 2px 10px;
  margin: 0;
}


/**
 * Рецензии
 */
.reviews textarea {
  width: 500px;
  max-width: 500px;
  height: 100px;
  border: solid 1px gray;
  padding-left: 10px;
}
textarea.hidden {
  display: block;
  height: 50px;
  color: #888;
}
.reviews form th {
  font-size: 9pt;
  font-weight: normal;
  text-align: right;
}
.review {
  margin-top: 20px;
}
.reviews .hint {
  font-style: italic;
  font-family: serif;
  background-color: cyan;
  padding: 2px 4px;
}
.review .meta {
  color: #666;
  font-size: 9pt;
}
.review .meta a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.review .meta * {
  margin-right: 1em;
}
.review p {
  margin-left: 2em;
}
