#user-profile {
  height: 100px;
}

#profile .block {
  width: 370px;
  margin-right: 10px;
  float: left;
}

#profile .list .artist, #profile .list td:last-child {
  font-size: 80%;
  opacity: 0.75;
}
#user-reviews td {
  vertical-align: baseline;
}

#profile .list td {
  padding-top: 2px;
  padding-bottom: 2px;
}
#profile .list td:last-child {
  padding-left: 8px;
} 
#user-reviews td:first-child {
  padding-right: 8px;
}
