input[type=text], textarea {
	width: 500px;
	display: block;
	margin-bottom: .5em;
	padding: 2px 4px;
}
textarea {
	height: 100px;
}
textarea[name=description] {
	height: 200px;
}
textarea[name=links], textarea[name=categories] {
	white-space: nowrap;
}

h1 .count {
	font-weight: normal;
	font-style: italic;
	font-size: .75em;
}

form th {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
form .hint {
	font-style: italic;
	font-size: 80%;
	margin: 0 0 .5em;
}

li.promote {
	font-weight: bold;
}
