{% extends "base.html" %}
{% block content %}
<h1>Добавление нового файла</h1>
<form action="/add/file" method="post">
<table>
<tbody>
<tr>
<th>Исполнитель:</th>
<td>
<input type="text" name="artist" value="{{ artist|escape }}"/>
</td>
</tr>
<tr>
<th>Альбом:</th>
<td>
<input type="text" name="album" value="{{ album|escape }}"/>
</td>
</tr>
<tr>
<th>Файл:</th>
<td>
<input type="file" name="file"/>
</td>
</tr>
</tbody>
<tfoot>
<tr>
<th/>
<td>
<input type="submit"/>
</td>
</tr>
</tfoot>
</table>
</form>
{% endblock %}

