{% extends "base.html" %}
{% block content %}
	<form action="/album/edit" method="post">
		<input type="hidden" name="id" value="{{ album.id }}"/>
		<div>
			<label>Name:</label>
			<input type="text" name="name" value="{{ album.name }}" class="text"/>
		</div>
		<div>
			<label>Artist:</label>
			<input type="text" name="artist" value="{% if album.artist %}{{ album.artist.name }}{% endif %}" class="text"/>
		</div>
		<div>
			<label>Release date:</label>
			<input type="text" name="release_date" value="{{ album.release_date }}" class="text"/>
		</div>
		<div>
			<label>Обложка:</label>
			<select name="cover_id">
				<option value="">удалить</option>
				{% for file in images %}
					<option value="{{ file.file_key }}"{% ifequal file.file_key album.cover_id %} selected="selected"{% endifequal%}>{{ file.filename }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Labels:</label>
			<input type="text" name="labels" value="{% if album.labels %}{% for label in album.labels %}{{ label }}, {% endfor %}{% endif %}" class="text"/>
		</div>
		<div>
			<label>Owner:</label>
			<input type="text" name="owner" value="{{ album.owner }}" class="text"/>
		</div>
		{% if tracks %}<table class="editFiles" id="editTracks">
			<caption>Tracks</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Имя файла</th>
					<th>Название</th>
					<th>Исполнитель</th>
					<th>Время</th>
				</tr>
			</thead>
			<tbody>{% for track in tracks %}
				<tr>
					<td>
						<input type="text" class="text" name="track.{{ track.id }}.weight" value="{{ track.weight }}"/>
					</td>
					<td>
						<input type="text" class="text" name="track.{{ track.id }}.filename" value="{{ track.filename }}"/>
					</td>
					<td>
						<input type="text" class="text" name="track.{{ track.id }}.song_title" value="{% if track.song_title %}{{ track.song_title }}{% else %}{{ track.filename }}{% endif %}"/>
					</td>
					<td>
						<input type="text" class="text" name="track.{{ track.id }}.song_artist" value="{% if track.song_artist %}{{ track.song_artist }}{% endif %}"/>
					</td>
					<td>
						<input type="text" class="text" name="track.{{ track.id }}.duration" value="{% if track.duration %}{{ track.duration }}{% endif %}"/>
					</td>
				</tr>
			{% endfor %}</tbody>
		</table>{% endif %}
		{% if files %}<table id="editFiles">
			<caption>Files</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Имя файла</th>
					<th>Виден</th>
				</tr>
			</thead>
			<tbody>{% for file in files %}
				<tr>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.weight" value="{{ file.weight }}"/>
					</td>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.filename" value="{{ file.filename }}"/>
					</td>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.content_type" value="{{ file.content_type }}"/>
					</td>
					<td>
						<input type="checkbox" name="file.{{ file.id }}.published"{% if file.published %} checked="checked"{% endif %}/>
					</td>
				</tr>
			{% endfor %}</tbody>
		</table>{% endif %}
		<div>
			<input type="submit" value="Save"/>
		</div>
	</form>
{% endblock %}
