{% extends "base.html" %}
{% block content %}
	<form action="/album/edit" method="post">
		<input type="hidden" name="id" value="{{ album.id }}"/>
		<div>
			<label>Название:</label>
			<input type="text" name="name" value="{{ album.name|escape }}" class="text"/>
		</div>
		<div>
			<label>Дата выхода:</label>
			<input type="text" name="release_date" value="{{ album.release_date }}" class="text"/>
		</div>
		<div>
			<label>Адрес сайта:</label>
			<input type="text" name="homepage"{% if album.homepage %} value="{{ album.homepage|escape }}"{% endif %} class="text"/>
		</div>
		<div>
			<label>Обложка:</label>
			<select name="cover_id">
				<option value="">удалить</option>
				{% for file in files %}{% if file.image_url %}
					<option value="{{ file.file_key }}"{% ifequal file.file_key album.cover_id %} selected="selected"{% endifequal%}>{{ file.filename }}</option>
				{% endif %}{% endfor %}
			</select>
		</div>
		<div>
			<label>Метки:</label>
			<input type="text" name="labels" value="{% if album.labels %}{% for label in album.labels %}{{ label|escape }}, {% endfor %}{% endif %}" class="text"/>
		</div>
		<div>
			<label>Владелец:</label>
			<input type="text" name="owner" value="{{ album.owner.email|escape }}" class="text"/>
		</div>
		{% if files %}<table id="editFiles">
			<caption>Прикреплённые файлы</caption>
			<thead>
				<tr>
					<th>№</th>
					<th>Название</th>
					<th>Тип<br/>Исполнитель</th>
					<th>Размер<br/>Время</th>
					<th>Виден</th>
				</tr>
			</thead>
			<tbody>{% for file in files %}
				<tr>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.weight" value="{{ file.weight }}"/>
					</td>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.filename" value="{{ file.filename|escape }}"/>
					</td>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.content_type" value="{{ file.content_type }}"/>
					</td>
					<td>
						<input type="text" class="text r" name="file.{{ file.id }}.size" value="{{ file.size }}"/>
					</td>
					<td>
						<input type="checkbox" name="file.{{ file.id }}.published"{% if file.published %} checked="checked"{% endif %}/>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.song_title" value="{% if file.song_title %}{{ file.song_title|escape }}{% endif %}"/>
					</td>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.song_artist" value="{% if file.song_artist %}{{ file.song_artist|escape }}{% endif %}"/>
					</td>
					<td>
						<input type="text" class="text r" name="file.{{ file.id }}.duration" value="{% if file.duration %}{{ file.duration }}{% endif %}"/>
					</td>
				</tr>
				<tr>
					<td colspan="2"/>
					<td>
						<input type="text" class="text" name="file.{{ file.id }}.remixer"{% if file.remixer %} value="{{ file.remixer }}"{% endif %}/>
					</td>
					<td colspan="2"/>
				</tr>
			{% endfor %}</tbody>
		</table>{% endif %}
		<div>
			<input type="submit" value="Сохранить"/>
		</div>
	</form>
{% endblock %}
