{% extends "base.html" %}
{% block ueb %}/album/edit?id={{ album.id }}{% endblock %}
{% block content %}
<div id="album" class="left">
	<div id="albumMeta">
		<img src="{% if album.cover_small %}{{ album.cover_small }}{% else %}/static/default_album_large.png{% endif %}" alt="cover"/>
		<div>
			<p class="title">{{ album.name }}</p>
			<p class="artist">{% if album.artists.1 %}Сборник{% else %}<a href="/artist/{{ album.artists.0|urlencode }}">{{ album.artists.0 }}</a>{% endif %}</p>
			{% if album.release_date %}<p class="date">Выпущен {{ album.release_date }}</p>{% endif %}
			{% if album.homepage %}<p class="homepage"><a href="{{ album.homepage }}">Веб-сайт</a></p>{% endif %}
			<p class="download"><a class="button" href="/album/{{ album.id }}/download"><span>Скачать</span></a>{% if is_admin %}<a class="button" href="/album/{{ album.id }}/upload">Добавить файлы</a>{% endif %}</p>
		</div>
	</div>

	<div id="tracklist">
		{% if files.tracks %}
			<table>
				<!-- да и так понятно
				<caption>Список дорожек</caption>
				-->
				<tbody>
					{% for track in files.tracks %}
						<tr>
							<td class="n">{{ forloop.counter }}.</td>
							<td class="l"><a href="/track/{{ track.id }}">{{ track.song_title }}</a></td>
							{% if compilation %}
								<td class="artist">{% if track.song_artist %}
									<a href="/artist/{{ track.song_artist }}">{{ track.song_artist}}</a>
								{% endif %}</td>
							{% endif %}
							<td class="dl">{% if track.ogg_link %}<a class="ogg" href="{{ track.ogg_link }}">ogg</a>{% endif %}</td>
							<td class="dl">{% if track.mp3_link %}<a class="mp3" href="{{ track.mp3_link }}">mp3</a>{% endif %}</td>
							<td class="dur">{% if track.duration %}{{ track.duration }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>Нет информации о дорожках.</p>
		{% endif %}
	</div>
</div>

<div id="sidebar">
	{% if album.labels %}<div id="labels" class="labels">
		<h2>Метки</h2>
		<ul>{% for label in album.labels %}
			<li><a href="/tag/{{ label|urlencode }}">{{ label }}</a></li>
		{% endfor %}</ul>
	</div>{% endif %}
</div><!-- #sidebar -->
{% endblock %}
