{% extends "base.html" %}
{% block content %}
	<form action="/album/edit" method="post">
		<input type="hidden" name="id" value="{{ album.id }}"/>
		<div>
			<label>Name:</label>
			<input type="text" name="name" value="{{ album.name }}" class="text"/>
		</div>
		<div>
			<label>Artist:</label>
			<input type="text" name="artist" value="{% if album.artist %}{{ album.artist.name }}{% endif %}" class="text"/>
		</div>
		<div>
			<label>Release date:</label>
			<input type="text" name="release_date" value="{{ album.release_date }}" class="text"/>
		</div>
		<div>
			<label>Обложка:</label>
			<select name="cover_id">
				<option value="">удалить</option>
				{% for file in files %}
					<option value="{{ file.file_key }}"{% ifequal file.file_key album.cover_id %} selected="selected"{% endifequal%}>{{ file.filename }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Labels:</label>
			<input type="text" name="labels" value="{% if album.labels %}{% for label in album.labels %}{{ label }}, {% endfor %}{% endif %}" class="text"/>
		</div>
		<div>
			<label>Owner:</label>
			<input type="text" name="owner" value="{{ album.owner }}" class="text"/>
		</div>
		<div>
			<input type="submit" value="Save"/>
		</div>
	</form>
{% endblock %}
