{% extends "base.html" %}
{% block content %}
<h1>API Help</h1>

<h2>Очередь обработки запросов</h2>
<ul>
  <li><a href="/upload/queue">upload/queue</a></li>
</ul>

<h2>Добавление альбома</h2>
<form method="get" action="/api/submit/album">
  <label>Адрес album.xml: <input type="text" name="url"/></label>
  <input type="submit"/>
</form>

<h2>Массовое обновление</h2>
<form method="get" action="/api/update">
  <select name="kind">
    <option value="artist">Исполнители</option>
    <option value="album">Альбомы</option>
    <option value="review">Рецензии</option>
    <option value="user">Пользователи</option>
    <option value="track">Композиции</option>
  </select>
  <button>Обновить</button>
</form>

<p><a href="/upload/remote">Добавление ZIP-архива по ссылке</a></p>
{% endblock %}
