{% extends "index.html" %}
{% block ueb %}<link rel="alternate" type="application/x-wiki" title="Редактировать исполнителя" href="/artist/{{ artist_name|uurlencode }}/edit"/>{% endblock %}
{% block title %}{{ artist_name|escape }} на Free Music Hub{% endblock %}
{% block rss %}<link rel="alternate" type="application/rss+xml" title="{{ artist_name|escape }} (альбомы)" href="/artist/{{ artist_name|uurlencode }}/rss"/>{% endblock %}
{% block list_title %}{{ artist_name }}{% endblock %}
{% block header %}
	{% if admins %}{% else %}{% if is_artist_admmin %}{% else %}
		<p class="less">У этого исполнителя пока нет администратора, <a href="http://code.google.com/p/freemusic/wiki/ClaimArtist">знаете его email</a>?</p>
	{% endif %}{% endif %}
	{% if albums %}<h3>Альбомы с участием этого исполнителя</h3>{% else %}<p>Нет альбомов с участием этого исполнителя.</p>{% endif %}
{% endblock %}
{% block below_albums %}
	{% if artist.related_artists %}
		<h3>Связанные артисты</h3>
		<ul>{% for name in artist.related_artists %}
			<li><a href="/artist/{{ name|uurlencode }}">{{ name|escape }}</a></li>
		{% endfor %}</ul>
	{% endif %}
	<h3>Почтовая рассылка{% if is_artist_admin %} <small><a href="/artist/{{ artist.name|uurlencode }}/mail/send">написать</a></small>{% endif %}</h3>
	<p><a href="/artist/{{ artist_name|uurlencode }}/mail">Подпишитесь</a>, чтобы не пропустить что-нибудь важное, связанное с этим исполнителем.</p>
	<div id="artistLinks">
		<h3>Другие ресурсы</h3>
		<ul class="icons">
			<li><a class="rss icon" href="/artist/{{ artist_name|uurlencode }}/rss"><span>RSS с альбомами</span></a></li>
			{% if artist.lastfm_name %}<li><a class="lastfm icon" href="http://www.last.fm/music/{{ artist.lastfm_name|uurlencode }}"><span>Профиль в Last.fm</span></a></li>{% endif %}
			{% if artist.twitter %}<li><a class="twitter icon" href="http://twitter.com/{{ artist.twitter|uurlencode }}"><span>Twitter</span></a></li>{% endif %}
			{% if artist.homepage %}<li><a class="homepage icon" href="{{ artist.homepage|escape }}"><span>Web Site</span></a></li>{% endif %}
			{% if artist.vk %}<li><a class="vk icon" href="{{ artist.vk|escape }}"><span>ВКонтакте</span></a></li>{% endif %}
		</ul>
	</div>
{% endblock %}
