{% extends "base.html" %}
{% block content %}
<h2>Почтовая рассылка группы «{{ artist.name }}»</h2>
{% if mail_sent %}
	<p>Вам было отправлено сообщение со ссылкой для активации подписки.  Оно должно прийти прямо сейчас, с адреса {{ mail_from }}.  Если сообщения долго нет, проверьте папку со спамом (лучше добавить этот адрес в контакты, чтобы рассылка не попадала в спам).</p>
	<p>Спасибо за внимание.</p>
	{% if back %}
		<p><a href="{{ back|escape }}">Вернуться на сайт исполнителя</a></p>
	{% else %}
		<p><a href="/artist/{{ artist.name|uurlencode }}">Вернуться к странице исполнителя</a></p>
	{% endif %}
{% else %}
	{% if activated %}
		<p>Ваш адрес был успешно добавлен в почтовую рассылку, ждите сообщений и спасибо за внимание!</p>
		{% if back %}
			<p><a href="{{ back|escape }}">Вернуться на сайт исполнителя</a></p>
		{% else %}
			<p><a href="/artist/{{ artist.name|uurlencode }}">Вернуться к странице исполнителя</a></p>
		{% endif %}
	{% else %}
		<p>Эта рассылка не даст вам пропустить важное для группы {{ artist.name }} событие.	 Сообщения пишут лично музыканты, обычно не чаще раза в месяц.</p>
		<form method="post" action="/artist/{{ artist.name|uurlencode }}/mail">
			<input type="hidden" name="back" value="{{ back|escape }}"/>
			<div class="input">
				<label for="mail-address"><span>Адрес вашей электронной почты:</span></label>
				<input id="mail-address" type="text" name="address" class="text" value="{{ user.email }}" class="required"/>
			</div>
			<div class="btn">
				<input type="submit" value="Подписаться"/> или <a href="/artist/{{ artist.name|uurlencode }}">вернуться на страницу исполнителя</a>
			</div>
		</form>
	{% endif %}
{% endif %}
{% endblock %}
