{% extends "base.html" %}
{% block content %}
	<div id="artists">
		<h2>Список исполнителей</h2>
		<table>
			<tbody>
				{% for artist in artists %}
					<tr>
						<td><a class="artist" href="/artist/{{ artist.id }}">{{ artist.name }}</a></td>
						<td><a href="/artist/{{ artist.id }}.rss">RSS</a></td>
						<td>{% if artist.lastfm_name %}<a target="_blank" href="http://www.lastfm.ru/music/{{ artist.lastfm_name }}">Last.fm</a>{% endif %}</td>
						<td>{% if artist.twitter %}<a target="_blank" href="http://twitter.com/{{ artist.twitter }}">Twitter</a>{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
