Привет.

Вы недавно скачали с сайта Free Music Hub альбом «{{ dl.album.name }}» группы {{ dl.album.artist.name }}. Мы, вместе с авторами, были бы признательны, если бы Вы поделились своими впечатлениями и оценили альбом. Это поможет другим людям искать качественную музыку.

Написать рецензию можно здесь:

{{ base }}album/{{ dl.album.id }}#review

-- 
Информация о том, что Вы скачали альбом, была удалена из нашей базы данных в момент отправки этого сообщения.

<html>
  <h1>Поделитесь впечатлениями об альбоме «{{ dl.album.name }}»</h1>
  <body>
    <p>Привет. Вы недавно скачали с сайта Free Music Hub альбом <a href="{{ base }}album/{{ dl.album.id }}">«{{ dl.album.name }}»</a> группы {{ dl.album.artist.name }}. Мы, вместе с авторами, были бы признательны, если бы Вы поделились своими впечатлениями и оценили альбом. Это поможет другим людям искать качественную музыку.</p>
    <p>Написать рецензию можно <a href="{{ base }}album/{{ dl.album.id }}#review">здесь</a>.</p>
    <hr/>
    <p style="font-size:75%">Информация о том, что Вы скачали альбом, была удалена из нашей базы данных в момент отправки этого сообщения.</p>
  </body>
</html>
