<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}Free Music{% endblock %}</title>
		<script type="text/javascript">var fmh={system:{url:'{{ base }}'}};</script>
        {% for file in styles %}
            <link rel="stylesheet" type="text/css" href="{{ file }}"/>
        {% endfor %}
		{% for line in scripts %}
			<script type="text/javascript" src="{{ line }}"></script>
		{% endfor %}
		{% if show_wmd %}
			<script type="text/javascript">wmd_options = { output: "Markdown", buttons: "bold italic | link blockquote image | ol ul", autostart: true };</script>
			<script type="text/javascript" src="/static/wmd/wmd.js"></script>
		{% endif %}
		{% block rss %}{% endblock %}
		{% block ueb %}{% endblock %}
		<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    </head>
    <body id="{{ class_name }}">
        <div id="wrapper">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">{% block footer %}
				<a href="http://www.freemusichub.net/"><img src="/static/logo.76x28.png" alt="logo"/></a>
				<ul>
					<li><a href="/">Музыка</a></li>
					<li><a href="/artists">Исполнители</a></li>
					<li><a href="http://code.google.com/p/freemusic/wiki/Uploading">Добавить альбом</a></li>
				</ul>
				<ul>
					<li>Личное</li>
					<!--
					<li><a href="/mail">Почта</a></li>
					-->
					<li><a href="{{ logout_uri|escape }}">Выйти</a></li>
				</ul>
				<ul>
					<li><a href="http://code.google.com/p/freemusic/wiki/AboutUs?tm=6">Об этом сайте</a></li>
					<li><a href="http://code.google.com/p/freemusic/wiki/WhatsNew">Новости</a></li>
					<li><a href="http://code.google.com/p/freemusic/issues/list?q=Type%3DDefect">Сообщить об ошибке</a></li>
					<!--
					<li><a href="http://freemusichub.blogspot.com/">Наш блог</a></li>
					-->
					{% if is_admin %}
						<li class="admin sep"><a href="https://appengine.google.com/dashboard?app_id=free-music">Admin Console</a></li>
					{% endif %}
				</ul>
			{% endblock %}</div>
        </div>
    </body>
</html>
