{% extends "base.html" %}
{% block content %}
<div id="albumlist">
	{% for album in albums %}<div class="tile">
		<a href="/album/{{ album.id }}">
			{% if album.cover_small %}
				<img alt="cover" src="{{ album.cover_small }}"/>
			{% else %}
				<img alt="cover" src="/static/default_album_large.png"/>
			{% endif %}
		</a>
	</div>{% endfor %}
</div>
<div id="labels">
	<h2>Метки</h2>
	<ul>
		{% for label in labels %}
			<li><a href="/tag/{{ label.label|urlencode }}">{{ label.label }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
