{% extends "base.html" %}
{% block content %}
<div id="albumlist">
	{% for album in albums %}
		<div class="album tile {% cycle first,second,third,fourth as column %}" id="album-{{ album.id }}">
			<a href="/album/{{ album.id }}">
			{% if album.cover_large %}
				<img alt="cover" src="{{ album.cover_large }}"/>
			{% else %}
				<img alt="cover" src="/static/default_album_large.png"/>
			{% endif %}
			</a>
			<a class="title" href="/album/{{ album.id }}">{{ album.name }}</a>
			<a class="artist" href="/artist/{{ album.artist.id }}">{{ album.artist.name }}</a>
		</div>
	{% endfor %}
	<div class="pager">
		<span class="info">Показаны альбомы {{ pager.start }}—{{ pager.end }} из {{ pager.total }}</span> <span class="pages">Страницы:{% for page in pager.pagenumbers %} <a href="/?page={{ page }}"{% ifequal page pager.page %} class="active"{% endifequal%}>{{ page }}</a>{% endfor %}</span>
	</div>
</div>
{% endblock %}
