<h1>Подписка на новости группы «{{ artist.name }}»</h1>
<p>Мы получили запрос на добавление вашего адреса в почтовую рассылку группы <a href="{{ base }}artist/{{ artist.name|uurlencode }}">{{ artist.name }}</a>.  Если этот запрос действительно был отправлен вами, подтвердите его, открыв ссылку:</p>
<p>{{ base }}artist/{{ artist.name|uurlencode }}/mail/confirm?address={{ email|uurlencode }}&amp;code={{ seed }}&amp;back={{ back|escape }}</p>
<p>Если вы ничего не знаете об этой почтовой рассылке и не хотите — проигнорируйте это сообщение и вы не будете в неё добавлены.</p>
