{% extends "base.html" %}
{% block content %}
<album name="{{ album.name|escape }}" pubDate="{{ album.date|date:"d.m.Y" }}">
<cover uri="{{ album.cover|escape }}"/>

{% if album.tracks %}
<tracks>
{% for track in album.tracks %}
<track number="{{ track.number }}" mp3="{{ track.mp3|escape }}" title="{{ track.title|escape }}"/>
{% endfor %}
</tracks>
{% endif %}

{% if album.files %}
<files>
{% for file in album.files %}
<file uri="{{ file.url|escape }}" name="{{ file.name|escape }}"/>
{% endfor %}
</files>
{% endif %}

</album>
{% endblock %}
