<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/fmh-static/templates.xsl"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>{% block title %}Free Music Hub{% endblock %}</title>
<style type="text/css">
input, textarea { display: block; width: 500px; padding: 2px 4px; margin: .5em 0; }
textarea { height: 60px; }
</style>
</head>
<body class="{% block pageid %}default{% endblock %}">
{% block body %}This page is half-baked.{% endblock %}
</body>
</html>
